@using Microsoft.AspNetCore.Authorization
@attribute [Authorize(Roles = "Admin")]
<div class="card">
    <div class="card-title bg-info">
        Modification d'un Game
    </div>
    <div class="card-body">
        <EditForm Model="CurrentGame" OnValidSubmit="OnValidSubmitAsync">
            <DataAnnotationsValidator />
            <div>
                Title : <InputText class="form-control form-control-sm" @bind-Value="CurrentGame.Title" />
                <ValidationMessage For="() => CurrentGame.Title" />
            </div>
            <div>
                Date de parution : <InputNumber class="form-control form-control-sm" @bind-Value="CurrentGame.ReleaseYear" />
                <ValidationMessage For="() => CurrentGame.ReleaseYear" />
            </div>
            <div>
                Synopsis : <InputText class="form-control form-control-sm" @bind-Value="CurrentGame.Synopsis" />
                <ValidationMessage For="() => CurrentGame.Synopsis" />
            </div>
            <div><button type="submit" class="btn btn-outline-success">Valider</button></div>
        </EditForm>
    </div>
</div>