@using Microsoft.AspNetCore.Authorization
@attribute [Authorize(Roles = "User")]
@attribute [Authorize(Roles = "Admin")]
<div class="card">
    <div class="card-title bg-info">
        Ajout d'un Game
    </div>
    <div class="card-body">
        <EditForm Model="GameForm" OnValidSubmit="OnValidSubmit">
            <DataAnnotationsValidator />
            <div>
                Title : <InputText class="form-control form-control-sm" @bind-Value="GameForm.Title" />
                <ValidationMessage For="() => GameForm.Title" />
            </div>
            <div>
                Date de parution : <InputDate class="form-control form-control-sm" @bind-Value="GameForm.ReleaseYear" />
                <ValidationMessage For="() => GameForm.ReleaseYear" />
            </div>
            <div>
                Synopsis : <InputText class="form-control form-control-sm" @bind-Value="GameForm.Synopsis" />
                <ValidationMessage For="() => GameForm.Synopsis" />
            </div>
            
        <div><button type="submit" class="btn btn-outline-success">Valider</button></div>
        </EditForm>
    </div>
</div>
